#foodel_icon {
    width: 32px;
    padding-top: 15px;
    margin-left: 35px;
}

#foodel_text {
    margin-left: 10px;
}

.container {
    padding-top: 16px;
}

.card .card-image img {
    border-radius: 5px 5px 0 0;
}

.card {
    border-radius: 5px;
}

.card {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

body {
    font-family: Ubuntu;
}

#call_icon {
    font-size: 18px;
}

#call_num {
    margin-left: 8px;
    font-size: 18px;
}

@media only screen and (max-width: 992px) {    
    #call_icon {
        font-size: 14px;
    }

    #call_num {
        font-size: 14px;
    }
}
s
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}



/* Scrollbar Styling */

 ::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #adadad;
}

#titleCard {
    background-color: #ee6e73 !important;
    margin: 0px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

.row {
    margin-bottom: 0px;
}

#mapDiv iframe {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
    margin-bottom: 26px;
}