body {
        font-family: Ubuntu;
    }

    .chip {
        height: 22px;
        color: #4e4e4e;
        font-size: 12px;
        line-height: 22px;
        background-color: #b9b9b9;
        margin-top: 5px;
    }

    .collection {
        border: 2px solid #e0e0e0;
        border-radius: 8px;
    }

    .collection .collection-item {
        border-bottom: 2px solid #e0e0e0;
    }

    .input-field .prefix {
        font-size: 1.5rem;
        top: 1rem;
    }

    .row {
        margin-bottom: 0px;
    }

    #titleCard {
        background: linear-gradient(-45deg, #1BFFFF, #2E3192);
        margin: 0px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0px;
    }
    /* Scrollbar Styling */

     ::-webkit-scrollbar {
        width: 6px;
    }

     ::-webkit-scrollbar-track {
        background-color: #ebebeb;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

     ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #adadad;
    }

    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    +,
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #2E3192;
        -webkit-box-shadow: 0 1px 0 0 #2E3192;
        box-shadow: 0 1px 0 0 #2E3192;
    }

    .page-footer {
        background: linear-gradient(-45deg, #1BFFFF, #2E3192);
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    #searchFloat {
        display: none;
    }